<link rel="stylesheet" href="../css/bootstrap.css">

<div class="container-fluid">
  <div class="row">
    <div class="page-header">
      <p class="text-center"><big><strong><%= @title%></strong></big></p>
    </div>
    <div style="width:200px;height:150px;margin: auto"><%= image_tag @image.image.url%>  </div>
    <div style="width:600px;height:450px;margin: auto"> <%= @content %></div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
      <p><big><strong id="articleTitle"></strong></big></p>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

    </div>
  </div>
</div>