<link rel="stylesheet" href="../css/bootstrap.css">
<div class="container">
  <div class="row">
    <nav class="page-header text-center">
      <p class="text-center"><big><strong>湘潭大学艺术学院</strong></big></p>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-xs-offset-1 col-sm-offset-1">
      <div class="row">
        <div class="text-center">
          <div style="width:15px;height:15px;background: #a94442"></div>
         <a href="../simple/check"><p class="text-center"><big><strong id="title"><%= @title %></strong></big></p></a>
        </div>
        <div class="text-center"></div>
      </div>
    </div>
  </div>
</div>